# EXP-19 / WAV File Synthesis for Watch Fault-Type Learning and Verification

## Objective

- Synthesize test WAV files to train an AI on the watch fault types presented on page 14 of "Witschi-Training-Course.pdf", and to verify the feature that detects watch fault types.

## Status

- [Planned | **In progress** | Suspended | Canceled | Concluded]

## Expected outcomes

- WAV files for the watch fault types presented on page 14 of "Witschi-Training-Course.pdf"

## Resources required

- "Witschi-Training-Course.pdf" page 14

## Experiment description

- Use the content on page 14 of "Witschi-Training-Course.pdf" to synthesize audio with AI.

## Duration

06/17-06/24

## Links and references

- "Witschi-Training-Course.pdf" page 14

## Results and recommendations

- Generated synthetic audio for 14 fault types in TimeGrapherTestFilesWeishiMic/fault_wavs/ (17th June)
- Plan to generate a variety of synthetic audio for AI training
*(to be completed after the experiment)*
